* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

admin-main
admin-content
page-title
input-text
btn-primary
btn-edit
btn-delete
table-data
sidebar
menu-link